@model List<ModelEF.Model.Product>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
<div class="grid_1_of_4 images_1_of_4 products-info">
    <img src="~/Assests/Store/images/m2.jpg">
    <a href="#">@item.Name</a>
    <h3>@item.Unitcost<span> VND</span></h3>
    <ul>
        <li><a class="cart" href="single.html"> </a></li>
        <li><a class="i" href="single.html"> </a></li>
        <li><a class="Compar" href="single.html"> </a></li>
        <li><a class="Wishlist" href="single.html"> </a></li>
    </ul>
</div>
}



